@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to top, #141414 0%, rgb(8, 8, 8) 100%);
  /* background-image: linear-gradient(to bottom, #09203f 0%, #242222 100%); */
}

.indexcontent {
  color: white;
}

.indexcontent h2 {
  font-size: 30px;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

.indexcontent p {
  line-height: 1.5rem;
  padding: 0.8rem 0 0.8rem 0;
  text-align: center;
}
